/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* swiper */
.swiper-pagination-bullet {
  background: #d6d6d6;
}
.selectable-day {
  background: #fca5a5;
  border-radius: 50%;
}

/* react-day-picker */
.rdp-today:not(.rdp-outside) {
  color: #111827;
  font-weight: 700;
}
.rdp-chevron {
  fill: #111827;
}
.rdp-selected .rdp-day_button {
  border-color: #111827;
  font-weight: 700;
}

/* login page shape */
.custom-shape-for-page {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-for-page svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 500px;
}
.custom-shape-for-page .shape-fill {
  fill: #2564eb77;
}

/* contact-us-background */
.contact-us-background {
  position: relative;
  background: url("../assets/contact/contact-us.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.contact-us-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(8px);
  z-index: -1;
  opacity: 0.7;
}
.contact-us-background > * {
  position: relative;
  z-index: 2;
}